<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/fina/src/ca/pfv/spmf/test/MainTestEFIM_saveToMemory.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.pfv.spmf.test.MainTestEFIM_saveToMemory"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="fina"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fina"/>
</launchConfiguration>
